<!--
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>


<body>
-->
    <div class="container-fluid container-relative">
        <div class="col-md-7">
        <div class="row">
        <div class="padding-16 font-wide font-24">ADD NEW PRODUCT</div>
            <hr class="line-black-3">
        </div>
        </div>
        <div class="col-md-8">
        <div class="row list">
            <form>
                <div class="col-md-3 col-xs-4 padding-16">
                    <div class="bg-black height-150 image">
                        <input type="file"><img>
                    </div>
                </div>

                <div class="col-md-offser-1 col-md-8 col-xs-offset-1 col-xs-7 form">

                    <table>
                        <div class="form-inline margin-top-16 margin-bottom-16">
                            <tr>
                                <td><label class="font-Roboto font-500 font-18">Product Name</label></td>
                                <td><input type="text" class="form-control input-bottom font-Roboto font-300 font-18 margin-left-16" id="addproduct_pname" placeholder="Product Name"></td>
                            </tr>

                        </div>
                        <div class="form-inline margin-top-16 margin-bottom-16">

                            <tr>
                                <td><label class="font-Roboto font-500 font-18">Price</label></td>
                                <td><input type="text" class="form-control input-bottom font-Roboto font-300 font-18 margin-left-16" id="addproduct_price" placeholder="Price"></td>
                            </tr>

                        </div>
                        <div class="form-inline margin-top-16 margin-bottom-16">

                            <tr>
                                <td><label class="font-Roboto font-500 font-18">Tax</label></td>
                                <td><input type="text" class="form-control input-bottom font-Roboto font-300 font-18 margin-left-16" id="addproduct_tax" placeholder="Tax"></td>
                            </tr>
                            <tr>
                            <td><label for="catogory" class="font-Roboto font-500 font-18">Catagory</label></td>
                                <td><div class="height-150 scroll"><input type="checkbox" value="abc" name="catagory">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello <br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello<br />
                                    <input type="checkbox" value="abc" name="catagory" class="font-Roboto font-300 font-18 margin-left-16">Hello</div></td>
                                
                            </tr>

                        </div>
                    </table>

                </div>
                <br />
        <div>
            <button type="submit" class="button bottom bg-black">Add Product</button>
        </div>
        </form>
    </div>
    </div>
    <div class="col-md-offset-1 col-md-3 shadow-box container cart-summary margin-top-50 height-80p">
        <div class="font-Roboto font-300 font-24 font-wide">All Products</div>
        <hr class="line-black-3">
        <div class="scroll margin-top-50">
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        <span class="font-Roboto font-24 font-100 margin-left-16 shadow-hover cursor-pointer">hello<br></span>
        
        </div>
        <div class="margin-top-50"></div>
    </div>
    </div>
<!--</body>

</html>
-->