<div class="register" style="background: url('images/food_front.jpg') no-repeat;"></div>
    <div class="container">
    <div class="row">
    <form>
    
    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 box-shadow margin-top-50 margin-bottom-16 corner-round panel-transparent opacity-1">
        <div class="center font-Ubuntu font-24 text-center">Registration</div>
        <br />  
        <table class="reg_table">
        <div class="form-inline">
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Restaurant Name</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Name Of Owner</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Building Name</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Building Address</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Building Area</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Pincode</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Floor</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18 transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Phone Number</label></td>
            <td><input type="text" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18  transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
            <tr>
            <td><label for="Restaurant_Name" class="font-Roboto font-18 font-500">Email</label></td>
            <td><input type="email" class="form-control color-black font-Roboto font-300 input-bottom-blue font-18  transparent margin-bottom-16" name="Restaurant_Name"></td>
            </tr>
        </div>
        </table>
        <div class="center margin-top-16">
        <button class="button bg-grey color-black margin-bottom-16 font-wide font-18 font-Roboto margin-right-16">Register Me</button>
        <button class="button bg-grey color-black margin-bottom-16 font-wide font-18 font-Roboto">Cancel</button>
        
        </div>
    </div>
    </form>
    </div>
    </div>